<h1 mat-dialog-title>Add order</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>UserId</td>
                <td><input [(ngModel)]="addOrderView.userId"></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input [(ngModel)]="addOrderView.cost"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="addOrder()">Add</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>