<h1 mat-dialog-title>Add book</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="addBookView.Name"></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input [(ngModel)]="addBookView.Cost"></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input [(ngModel)]="addBookView.Year"></td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>
                    <mat-form-field>
                        <mat-label>Select a publisher</mat-label>
                        <mat-select [(value)]="publisher">
                            <mat-option>Default</mat-option>
                            <mat-option *ngFor="let publisher of data.publishers" value="{{publisher.id}}">
                                {{publisher.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>Author</td>
                <td>
                    <mat-form-field>
                        <mat-label>Select an author</mat-label>
                        <mat-select [(value)]="author" multiple>
                            <mat-option>Default</mat-option>
                            <mat-option *ngFor="let author of data.authors" value="{{author.id}}">
                                {{author.name}} {{author.surname}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="addBook()">Add</button><!--author, publisher-->
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>