<h1 mat-dialog-title>Update order</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="updateOrderView.id" (keyup)="getOrder()"></td>
            </tr>
            <tr>
                <td>UserId</td>
                <td><input [(ngModel)]="updateOrderView.userId"></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input [(ngModel)]="updateOrderView.cost"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="updateOrder()">Update</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>