<h1 mat-dialog-title>Add genre</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="addGenreView.name"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="addGenre(author, publisher)">Add</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>