<h1 mat-dialog-title>Update author</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="updateAuthorView.id" (keyup)="getAuthor()"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="updateAuthorView.name"></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><input [(ngModel)]="updateAuthorView.surname"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="updateAuthor()">Update</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>