<h1 mat-dialog-title>Delete order</h1>
<div mat-dialog-content>
    <div class="content">
        Id<input [(ngModel)]="deleteId"><br>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="deleteOrder()">Delete</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>