<h1 mat-dialog-title>Update book</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="updateBookView.id" (keyup)="getBook()"></td>
            </tr>
            <tr>
                <td>Name </td>
                <td><input id="updateName" [(ngModel)]="updateBookView.name" value="{{updateBookView.name}}">
                </td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input id="updateCost" [(ngModel)]="updateBookView.cost" value="{{updateBookView.cost}}">
                </td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input [(ngModel)]="updateBookView.year" value="{{updateBookView.year}}"></td>
            </tr>
            <tr>
                <td>Publisher</td>
                <mat-form-field>
                    <mat-label>{{updateBookPublisher}}</mat-label>
                    <mat-select [(value)]="updatePublisher">
                        <mat-option *ngFor="let publisher of data.publishers" value="{{publisher.id}}">
                            {{publisher.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="updateBook()">Update</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>