<h1 mat-dialog-title>Add journal</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="addJournalView.name"></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input [(ngModel)]="addJournalView.cost"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="addJournal()">Add</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>