<h1 mat-dialog-title>Add author</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="addAuthorView.name"></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><input [(ngModel)]="addAuthorView.surname"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="addAuthor()">Add</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>