.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.home a {
  text-decoration: none;
  color: royalblue;
}
.router{
  margin-left: 20px;
  margin-top: 20px;   
}
mat-sidenav-content mat-toolbar a {
  font-size: 20px;
}

.log-reg a{
  color: white;
}