<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" >
    <mat-toolbar class="home"><a href="">Main</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="books">Books</a>
      <a mat-list-item href="authors">Authors</a>
      <a mat-list-item href="genres">Genres</a>
      <a mat-list-item href="journals">Journals</a>
      <a mat-list-item href="publishers">Publishers</a>
      <a mat-list-item href="orders" *ngIf="isVisible">Orders</a>
      <a mat-list-item href="users" *ngIf="isVisible">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="margin-left: 20px">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BookStore</span>
      <div class="log-reg" style="margin-left: 75%">
        <!--70vw  margin-left: 83%; -->
        <a mat-button href="register" *ngIf="!isLogged">Register</a>
        <a mat-button (click)="openBasket()" *ngIf="isLogged">Your basket</a>
        <a mat-button href="cabinet" *ngIf="isLogged">Cabinet</a>
        <a mat-button href="login" *ngIf="!isLogged">Login</a>
        <a mat-button href="login" *ngIf="isLogged" (click)="this.login.logout()" class='temp'>Logout</a>
      </div>
    </mat-toolbar>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>