<h1 mat-dialog-title>Update book</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="updateJournalView.id" (keyup)="getJournal()"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="updateJournalView.name"></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input [(ngModel)]="updateJournalView.cost"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="updateBook()">Update</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>