<!doctype html>

<head>
</head>
<script>
</script>

<body>
    <div class="panel">
        <h1>Journals</h1>
        <div class="admin-panel" *ngIf="isVisible">
            <div class="crud">
                <button mat-raised-button color="primary" (click)="openAddPopup()" class="inner">Add Journal</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openUpdatePopup()" class="inner">Update Journal</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openDeletePopup()" class="inner">Delete
                    Journal</button>
            </div>
        </div>
        <p>
            <button id="SortAsc" (click)="sortByDbIdAsc()">Default</button>
        </p>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Type here to search by Name or Cost">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="isVisible">Id</th>
                    <th *ngIf="isVisible">Db Id</th>
                    <th (click)="sortByName()">Name</th>
                    <th (click)="sortByCost()">Cost</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let journal of journals.journals | filter:searchText; let i = index">
                    <td *ngIf="isVisible">{{i}}</td>
                    <td *ngIf="isVisible">{{journal.id}}</td>
                    <td>{{journal.name}}</td>
                    <td>{{journal.cost}}</td>
                    <td><button class="add" (click)="addToBasket(journal.id)">+</button></td>
                    <td><button class="add" (click)="removeFromBasket(journal.id)">-</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>