<h1 mat-dialog-title>Update genre</h1>
<div mat-dialog-content>
    <div class="content">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="updateGenreView.id" (keyup)="getGenre()"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="updateGenreView.name"></td>
            </tr>
        </tbody>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="updateGenre()">Update</button>
    <button mat-button cdkFocusInitial (click)="close()">Exit</button>
</div>