<!doctype html>
<!---->

<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="panel">
        <h1>Login</h1>
        <div class="table">
            <tr>
                <td>Login:</td>
                <td><input [(ngModel)]="loginString"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input [(ngModel)]="passwordString" type="password"></td>
            </tr>
        </div>
        <p>
            <button id="Login" (click)="login(loginString, passwordString)">Login</button>
        </p>
    </div>
</body>