<!doctype html>

<head>
</head>
<script>
</script>
<style>
</style>

<body>
    <div class="panel">
        <h1>Publishers</h1>
        <div class="admin-panel" *ngIf="isVisible">
            <div class="crud">
                <button mat-raised-button color="primary" (click)="openAddPopup()" class="inner">Add Book</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openUpdatePopup()" class="inner">Update Book</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openDeletePopup()" class="inner">Delete Book</button>
            </div>
        </div>
        <p>
            <button id="SortAsc" (click)="sortByDbIdAsc()">Default</button>
        </p>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Type here to search by Name">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="isVisible">Id</th>
                    <th *ngIf="isVisible">Db Id</th>
                    <th (click)="sortByName()">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let publisher of publishers.publishers | filter:searchText; let i = index">
                    <td *ngIf="isVisible">{{i}}</td>
                    <td *ngIf="isVisible">{{publisher.id}}</td>
                    <td [routerLink]="['../books']" [queryParams]="{ publisher: publisher.id}" class="redirect"
                        matTooltip="Books from this publisher">{{publisher.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>