<h1 mat-dialog-title>Your basket</h1>
<div mat-dialog-content>
  <div class="basket-content" *ngIf="isAny">
    <div class="books-content" *ngIf="isBooks">
      <table class="table table-striped">
        <thead class="header">
          <th colspan="2">Books:</th>
        </thead>
        <tbody>
          <tr *ngFor="let book of data.books">
            <td style="width: 430px">{{book}}</td>
            <td (click)="removeBookFromBasket(book)" class="remove"> Remove</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="journals-content" *ngIf="isJournals">
      <table class="table table-striped">
        <thead class="header">
          <th colspan="2">Journals:</th>
        </thead>
        <tbody>
          <tr *ngFor="let journal of data.journals">
            <td style="width: 430px">{{journal}}</td>
            <td (click)="removeJournalFromBasket(journal)" class="remove"> Remove</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="nothing-content" *ngIf="!isAny">
    <p class="header">Yout basket is empty! Try to add something</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button>Go to payment</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Continue shoping</button>
</div>