<!doctype html>

<head>
</head>
<script>
</script>

<body>
    <div class="panel">
        <h1>Genres</h1>
        <div class="admin-panel" *ngIf="isVisible">
            <div class="crud">
                <button mat-raised-button color="primary" (click)="openAddPopup()" class="inner">Add Genre</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openUpdatePopup()" class="inner">Update
                    Genre</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openDeletePopup()" class="inner">Delete
                    Genre</button>
            </div>
        </div>
        <p>
            <button id="SortAsc" (click)="sortByDbIdAsc()">Default</button>
        </p>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Type here to search by Name">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="isVisible">Id</th>
                    <th *ngIf="isVisible">Db Id</th>
                    <th (click)="sortByName()">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let genre of genres.genres | filter:searchText; let i = index">
                    <td *ngIf="isVisible">{{i}}</td>
                    <td *ngIf="isVisible">{{genre.id}}</td>
                    <td>{{genre.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>