<!doctype html>

<head>
</head>

<body>
    <div class="panel">
        <h1>Authors</h1>
        <div class="admin-panel" *ngIf="isVisible">
            <div class="crud">
                <button mat-raised-button color="primary" (click)="openAddPopup()" class="inner">Add Author</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openUpdatePopup()" class="inner">Update Author</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openDeletePopup()" class="inner">Delete Author</button>
            </div>
        </div>
        <p>
            <button id="SortAsc" (click)="sortByDbIdAsc()">Default</button>
        </p>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Type here to search by Name or Surname">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="isVisible">Id</th>
                    <th *ngIf="isVisible">Db Id</th>
                    <th (click)="sortByName()">Name</th>
                    <th (click)="sortBySurname()">Surname</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors.authors | filter:searchText; let i = index">
                    <td *ngIf="isVisible">{{i}}</td>
                    <td *ngIf="isVisible">{{author.id}}</td>
                    <td [routerLink]="['../books']" [queryParams]="{ author: author.id}" class="redirect"
                        matTooltip="Authors from this author">{{author.name}}</td>
                    <td [routerLink]="['../books']" [queryParams]="{ author: author.id}" class="redirect"
                        matTooltip="Authors from this author">{{author.surname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>