<!doctype html>

<head>
</head>
<script>
</script>

<body>
    <div class="panel">
        <h1>Orders</h1>
        <div class="crud">
            <button mat-raised-button color="primary" (click)="openAddPopup()" class="inner">Add Order</button>
            <br>
            <br>
            <button mat-raised-button color="primary" (click)="openUpdatePopup()" class="inner">Update Order</button>
            <br>
            <br>
            <button mat-raised-button color="primary" (click)="openDeletePopup()" class="inner">Delete Order</button>
        </div>
        <p>
            <button id="SortAsc" (click)="sortByDbIdAsc()">Default</button>
        </p>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Type here to search by UserId or Cost">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Db Id</th>
                    <th (click)="sortByUserId()">UserId</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders.orders | filter:searchText; let i = index">
                    <td>{{i}}</td>
                    <td>{{order.id}}</td>
                    <td>{{order.userId}}</td>
                    <td>{{order.cost}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>