<!doctype html>

<head>
</head>
<script>
</script>
<body>
    <div class="panel">
        <p>
            <button id="Add" (click)="addUser()">Add User</button>
        </p>
        <p>
            <button id="Refresh" (click)="loadUsers()">Refresh</button>
        </p>
        <br>
        <input type="text" id="IdForDeleting"><br>
        <p>
            <button id="Delete" (click)="deleteUser(11)">Delete</button><!---->
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of data.users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.cost}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>