<!doctype html>

<head>
</head>
<script>
</script>
<style>
</style>

<body>
    <div class="panel">
        <h1>Cabinet</h1>
        <span>Hello, {{userName}}!</span>
        <hr>
        <span style="font-size: 20px;">Your orders:</span>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Id</th>
                    <th>Cost</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody class="list">
                <tr *ngFor="let userOrder of userOrders.orders; let i = index">
                    <td>{{i+1}}</td>
                    <td style="text-align: center">{{userOrder.id}}</td>
                    <td>{{userOrder.cost}}</td>
                    <td>{{userOrder.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>