<!doctype html>
<!---->
<script>
</script>
<style>

</style>

<head>
</head>

<body>
    <div class="panel">
        <h1>Books</h1>
        <div class="admin-panel" *ngIf="isVisible">
                <div class="crud">
                <button mat-raised-button color="primary" (click)="openAddPopup()" class="inner">Add Book</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openUpdatePopup()" class="inner">Update Book</button>
                <br>
                <br>
                <button mat-raised-button color="primary" (click)="openDeletePopup()" class="inner">Delete Book</button>
            </div>
        </div>
        <div class="sorting">
            <p>
                <button id="SortAsc" (click)="sortByDbIdAsc()" class="">Default</button>
            </p>
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Type here to search by Name, Cost, Year or Publisher">
            <p>From</p><input [(ngModel)]="fromCost">
            <p>To</p><input [(ngModel)]="toCost">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="isVisible">Id</th>
                    <th *ngIf="isVisible">DB Id</th>
                    <th (click)="sortByName()">Name</th>
                    <th (click)="sortByCost()">Cost</th>
                    <th (click)="sortByYear()">Year</th>
                    <th (click)="sortByPublisher()">Publisher</th>
                    <th>Authors</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody class="list">
                <tr *ngFor="let book of books.books | filter:searchText; let i = index">
                    <td *ngIf="isVisible">{{i}}</td>
                    <td *ngIf="isVisible">{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.cost}}</td>
                    <td>{{book.year}}</td>
                    <td>{{book.publisherName}}</td>
                    <td>{{book.authorsNames}}</td>
                    <td><button class="add" (click)="addToBasket(book.id)">+</button></td>
                    <td><button class="add" (click)="removeFromBasket(book.id)">-</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
