.crud{
    display: block;
}

.crud .inner{
    display: inline;
}

table {
    font-size: 25px;
}

table td,
th {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.add{
    padding-bottom: 2px;
    width: 40px;
    height: 30px;
}

.add:hover{
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.form-control{
    width: 20%/*330px*/
}