<!doctype html>
<!---->
<head>
</head>

<body>
    <div class="panel">
        <h1>Registration</h1>
        <div>
            <tr>
                <td>E-mail:</td>
                <td><input [(ngModel)]="emailReg"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input [(ngModel)]="passwordReg" (focusout)="checkPassMatch()" type="password" autocomplete="new-password"></td>
            </tr>
            <tr>
                <td>Confirm password:</td>
                <td><input [(ngModel)]="confirmPassword" (keyup)="checkPassMatch()" type="password"></td>
            </tr>
        </div>
        <br>
        <span class="help-block" *ngIf="!isMatching">
            Passwords does not match!
        </span>
        <p>
            <button id="Register" (click)="register()">Register</button>
        </p>
    </div>
</body>